{% extends "base.html" %}

{% block content %}

<section class="page-title-bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-title text-center">
                    <h3>How can we help you?</h3> <br><br>
                    <ul class="list-inline">
                        
                      
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page Title End -->


            

            <div class="col-lg-8">
                <!-- Contact Form Begin -->
                <div class="cform">
                   
                    <form action="ask" method="POST" >
                        
                            {% csrf_token %}
                            
            
                         
                            <div class="col-md-4">
                          
                            <textarea name="question" rows="5" cols="25" placeholder="Question" wrap="physical" required></textarea><brdd>
                            </div>
                            <br>

                            <div class="col-md-4">
                                <select id="category" name="c" size="1" onchange="makeSubmenu(this.value)">
                                    <option value="" disabled selected>Choose Category</option>
                                    <option>DigitalPresence</option>
                                    <option>Development</option>
                                    <option>Marketing</option>
                                    <option>Branding</option>
                                    </select><br>
                                    
                                </div>
                               <br>
                                <div class="col-md-4">
                                <select id="categorySelect" name="sc" size="1">
                                    <option value="" disabled selected>Choose Subcategory</option>
                                    <option></option>
                                    </select>
                                    <br>
                            
                                </div>
                                <br>
                            
                               
                                <div class="col-md-4">
                                    <button type="submit" class="btn"><span>Submit</span></button>
                                </div>    
                         
                            
                        
                    </form>
                </div>
                <!-- Contact Form End -->
            </div>
        </div>
    </div>
</section>
<!-- Contact Info End -->
    <!-- Contact Info End -->
    <script type="text/javascript">
        var subcategory = {
        DigitalPresence: ["Search Engine Marketing","Search Engine Optimization","Digital Consultancy","Brand Reputation Management","Business Consultancy"],
        Development: ["Web Development","Application Development","Software Development","Block Chain Development","UI/UX Development"],
        Branding: ["Branding Services"],
        Marketing: ["Mobile App Marketing","Mobile Game Marketing","Social Media Marketing","Conversion rate Marketing","Content Marketing","Email Marketing"],
        }

        function makeSubmenu(value) {
            if (value.length == 0) document.getElementById("categorySelect").innerHTML = "<option></option>";
            else {
                var citiesOptions = "";
                for (categoryId in subcategory[value]) {
                    citiesOptions += "<option>" + subcategory[value][categoryId] + "</option>";
                }
                document.getElementById("categorySelect").innerHTML = citiesOptions;
            }
        }

        function displaySelected() {
            var country = document.getElementById("category").value;
            var city = document.getElementById("categorySelect").value;
            alert(country + "\n" + city);
        }

        function resetSelection() {
            document.getElementById("category").selectedIndex = 0;
            document.getElementById("categorySelect").selectedIndex = 0;
        }
    </script>
    
{% endblock %}