{% extends "base.html" %}

{% block content %}
    <!-- Service Begin -->
    <section class="pt-120 pb-90">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Title Begin -->
                    <div class="page-title text-center">
                        <h2>Frequently Asked Questions</h2><br>
                        
                            
                            
                         <h3>  {{sent}}</h3>
                         <br>
                        
                    </div>
                    <!-- Section Title End -->
                </div>
            </div>

            <div class="row">
                {% for k in sent2 %}
                <div class="col-lg-4 col-sm-6">
                    <!-- Single Service Begin -->
                    <div class="single-service style--three text-center">
                        <!-- Icon Begin -->
                        <div class="icon">
                            <img src="/static/img/icons/service-1.png" data-rjs="2" alt="">
                        </div>
                        <!-- Icon End  -->

                        <!-- Content Begin -->
                        <div class="content">
                            <h4>{{k}}</h4>
                            
                            <a href="wd?qu={{k|urlencode}}" class="btn-inline">Read More</a>
                        </div>
                        <!-- Content End -->
                    </div>
                    <!-- Single Service End -->
                </div>
                
               
                {% endfor %}
                
               
               
                </div>
            </div>
        </div>
    </section>
    <!-- Service End -->

       







{% endblock %}