
<!-- Footer Begin -->
<footer class="footer bg-light section-pattern footer-bg"
        data-bg-img="/static/img/section-pattern/footer-pattern.png">
    <!-- Footer Top Begin -->
    <section class="pt-20 pb-20">
        <div class="container">
            <div class="row" style="margin-left:-35px">
                <div class="col-12">
                    <!-- Partners -->
                    <div class="brand-logo owl-carousel" data-owl-items="8" data-owl-autoplay="true" data-owl-responsive='{"0": {"items": "2"},"575":{"items": "3"},"768": {"items": "4"},"992": {"items": "8"}}'>


                        <!-- Single Partner -->
                        <a href="#" class="single-brand-logo">
                            <img src="/static/img/images/logos/color/babychakra.png" data-rjs="2" alt="">
                        </a>
                        <!-- End Single Partner -->

                        <!-- Single Partner -->
                        <a href="#" class="single-brand-logo">
                            <img src="/static/img/images/logos/color/cashkaro.png" data-rjs="2" alt="">
                        </a>
                        <!-- End Single Partner -->

                        <!-- Single Partner -->
                        <a href="#" class="single-brand-logo">
                            <img src="/static/img/images/logos/color/sunilmehra.png" data-rjs="2" alt="">
                        </a>
                        <!-- End Single Partner -->

                        <!-- Single Partner -->
                        <a href="#" class="single-brand-logo">
                            <img src="/static/img/images/logos/color/dineout.png" data-rjs="2" alt="">
                        </a>
                        <!-- End Single Partner -->

                        <!-- Single Partner -->
                        <a href="#" class="single-brand-logo">
                            <img src="/static/img/images/logos/color/myfitfuel.png" data-rjs="2" alt="">
                        </a>
                        <!-- End Single Partner -->

                        <!-- Single Partner -->
                        <a href="#" class="single-brand-logo">
                            <img src="/static/img/images/logos/color/ndtv.png" data-rjs="2" alt="">
                        </a>
                        <!-- End Single Partner -->

                        <!-- Single Partner -->
                        <a href="#" class="single-brand-logo">
                            <img src="/static/img/images/logos/color/nilons.png" data-rjs="2" alt="">
                        </a>
                        <!-- End Single Partner -->

                        <!-- Single Partner -->
                        <a href="#" class="single-brand-logo">
                            <img src="/static/img/images/logos/color/sausagedogcentral.png" data-rjs="2" alt="">
                        </a>
                        <!-- End Single Partner -->




                    </div>
                    <!-- End of Partners -->
                </div>
            </div>
            <hr>
        </div>
    </section>
    <div class="footer-top pt-60">
        <div class="container border-bottom">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <!-- Contact Widget Begin -->
                    <div class="widget widget_contact_info">
                        <!-- Widget Logo Begin -->
                        <div class="widget-logo">
                            <img src="/static/img/images/logo/lgfinal.png" data-rjs="2" alt="">
                        </div>
                        <!-- Widget Logo End -->

                        <!-- Widget Content Begin -->
                        <div class="info-content">
                            <div class="single-info">
                                <span>Business Phone</span>
                                <p><a href="tel:9560621461">+91 9560621461</a>
                                    <a href="tel:8424038136">+91 8424038136</a></p>
                            </div>
                            <div class="single-info">
                                <span>Support mail</span>
                                <p>
                                    <a href="mailto:info@socialninjaz.com">info@socialninjaz.com</a>
                                    <a href="mailto:vaishnav@socialninjaz.com">vaishnav@socialninjaz.com</a>
                                </p>
                            </div>


                        </div>
                        <!-- Widget Content End -->
                    </div>
                    <!-- About Widget End -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <!-- Contact Widget Begin -->
                    <div class="widget widget_contact_info">
                        <!-- Widget Title Begin  -->
                        <div class="widget-title">
                            <h4>Our Offices</h4>
                        </div>
                        <!-- Widget Title End  -->


                        <!-- Widget Content Begin -->
                        <div class="info-content">
                            <div class="single-info">
                                <span>Corporate Address</span>
                                <p>B-37, Block B Sector 1, Noida Uttar Pradesh 201301</p>
                            </div>
                            <div class="single-info">
                                <span>Greater Noida Address</span>
                                <p>1125 Tower 1 Assotech business crestera, Noida-Greater Noida Expy,
                                    Sector 135, Noida, Uttar Pradesh 201303</p>
                            </div>


                        </div>
                        <!-- Widget Content End -->
                    </div>
                    <!-- About Widget End -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <!-- Contact Widget Begin -->
                    <div class="widget widget_contact_info">
                        <!-- Widget Title Begin  -->
                        <div class="widget-title">
                            <h4>OUR GLOBAL PRESENCE</h4>
                        </div>
                        <!-- Widget Title End  -->


                        <!-- Widget Content Begin -->
                        <div class="info-content">
                            <div class="single-info">
                                <span>United States</span>
                                <p>600 W Santa Ana Blvd, Santa Ana, CA 92701, United States.</p>
                            </div>
                            <div class="single-info">
                                <span>Slovenia</span>
                                <p>Dunajska cesta 136 1000 Ljubljana, Slovenia</p>
                            </div>


                        </div>
                        <!-- Widget Content End -->
                    </div>
                    <!-- About Widget End -->
                </div>

                <div class="col-lg-2 col-sm-6">
                    <!-- Widget Quick Nav -->
                    <div class="widget widget_nav_menu">
                        <!-- Widget Title Begin  -->
                        <div class="widget-title">
                            <h4>Quick Links</h4>
                        </div>
                        <!-- Widget Title End  -->

                        <!-- Menu Begin -->
                        <ul class="menu">
                            <li><a href="/about/">About Us</a></li>
                            <li><a href="/services/">Our Services</a></li>
                            <li><a href="/projects/">Case Studies</a></li>
                            <li><a href="/blogs/">Read Blog</a></li>
                            <li><a href="/contact/">Contact Us</a></li>
                            <li><a href="/team/">Our Team</a></li>
                        </ul>
                        <!-- Menu End -->

                    </div>
                    <!-- Widget Quick Nav -->

                    <!-- Widget Social Icon Begin -->
                    <div class="widget widget_social_icon">
                        <ul class="social_icon_list list-inline">
                            <li>
                                <a target="_blank" href="https://www.facebook.com/socialninjaz"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a target="_blank" href="https://twitter.com/socialninjaz"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.linkedin.com/company/socialninjaz-llc/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a target="_blank"  href="https://www.instagram.com/social_ninjaz/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                    <!-- Widget Social Icon End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Top End -->

    <!-- Footer Bottom Begin -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="copyright-text text-center">
                        <span><a href="/">SocialNinjaz</a> &copy; Copyright 2020.All rights reserved.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom End -->

    <!-- Modal Form Begin -->
    <div class="appointment-modal modal fade" id="appointmentModalForm" tabindex="1" role="dialog" aria-labelledby="appointmentModalForm" aria-hidden="true">
        <div class="modal-dialog d-flex align-items-center" role="document">
            <div class="container">
                <div class=" row justify-content-center">
                    <div class="col-lg-8 col-12">
                        <!-- Modal Content Begin -->
                        <div class="modal-content">
                            <!-- Modal Close Button Begin -->
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <img src="/static/img/icons/close.svg" alt="">
                            </button>
                            <!-- End Modal Close End -->

                            <!-- Appointment Form Begin -->
                            <form action="/services/lead/" method="POST" class="appointment-form">
                                <h2 class="form-title text-center">Get In Touch</h2>
                                {% csrf_token %}
                                <input name="name" class="theme-input-style" type="text" placeholder="Full Name" required="required">
                                <input name="email" class="theme-input-style" type="email" placeholder="Email" required="required">
                                <input name="number" class="theme-input-style" type="tel" placeholder="Phone" required="required">
                                <button class="btn" type="submit"><span>Send request</span></button>
                            </form>
                            <!-- End Appointment Form End -->
                        </div>
                        <!-- Modal Content End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Form End -->

</footer>
<!-- Footer End -->
