{% extends "base.html" %}

{% block content %}

<section class="page-title-bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-title text-center">
                    {% if user.is_authenticated %}
                    <h2>Frequently Asked Questions</h2><br>
                    {% else %}
                    <h2>Frequently Asked Questions</h2><br>
                   
                    <button onclick="openForm()"><h3>Ask a Question</h3></a> </button> 
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </div>
</section>
<div class="form-popup" id="myForm">
    <form action="accounts/login" class="form-container" method="POST">
        {% csrf_token %}
    
      <h1>Login</h1>
  
      
      <input type="text" placeholder="Username" name="username" required>
  

      <input type="password" placeholder="Enter Password" name="password" required>
  
      <button type="submit" class="btn">Login</button>   
      <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn" >Login using Google</a><br>
      <a href="{% url 'social:begin' 'facebook' %}" class="btn">Login using Facebook</a><br>
      <a href="accounts/register">New User? Register Here</a><br>

      <button type="button"  onclick="closeForm()">Close</button>
    
    </form>
   

    
  </div>
  
  <script>
  function openForm() {
    document.getElementById("myForm").style.display = "block";
  }
  
  function closeForm() {
    document.getElementById("myForm").style.display = "none";
  }
  </script>
<!-- Page Title End -->

<!-- Contact Info Begin -->
<section class="pt-80 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <!-- Contact Info Begin -->
                <div class="contact-info">
                    <h3>Want to Know More? </h3>
                    <p>Select a Category to Read more Posts:</p>
                        

                    <div class="row">
                        <!-- Single Contact Info -->
                        <div class="col-sm-6 col-lg-12 single-contact-info media align-items-center">
                            <div class="col-lg-4">
                                <!-- Sidebar Begin -->
                                <aside class="sidebar mt-5 mt-lg-0">
                                
                                <!-- Widget Tag Cloud Begin -->
                                <div class="widget widget_tag_cloud">
                                <div class="widget-title">
                                <h4>Tags</h4>
                                </div>
                                <div class="tagcloud">
                                {% for d in dests %}
                                <a href="tags?query_name={{d|urlencode}}">{{d}}</a>
                                {% endfor %}
                                </div>
                                </div>
                                <!-- Widget Tag Cloud End -->
                                
                                
                                </aside>
                                <!-- Sidebar End -->
                                </div>
                                
                        </div>
                        <!-- End Single Contact Info -->
                        {% if user.is_authenticated %}
                        <form action="ask" method="POST" >
                        
                            {% csrf_token %}
                            
            
                            <h3> What can we help you with?</h3>
                            <div class="col-md-4">
                          
                            <textarea name="question" rows="5" cols="25" placeholder="Question" wrap="physical" required></textarea><br>
                            </div>
                            <br>
                        
                            
                                <select id="category" name="c" size="1" onchange="makeSubmenu(this.value)" required>
                                    <option value="" disabled selected>Choose Category</option>
                                    <option>DigitalPresence</option>
                                    <option>Development</option>
                                    <option>Marketing</option>
                                    <option>Branding</option>
                                    </select><br>
                                
                                
                               <br>
                                
                                <select id="categorySelect" name="sc" size="1" required>
                                    <option value="" disabled selected>Choose Subcategory</option>
                                    <option></option>
                                    </select>
                                    <br>
                            
                                
                                <br>
                            
                               
                                <div class="col-md-4">
                                    <button type="submit" class="btn"><span>Submit</span></button>
                                </div>    
                         
                            
                        
                    </form>

              {% endif %}

                    </div>
                </div>
                <!-- Contact Info End -->
            </div>

            <div class="col-lg-8">
                <!-- Contact Form Begin -->
                <div class="cform">
                    <div class="row">
                        {% for k in services %}
                          <div class="col-lg-4 col-sm-6">
                              <!-- Single Service Begin -->
                              <div class="single-service style--three text-center">
                                  <!-- Icon Begin -->
                                  <div class="icon">
                                      <img src="/static/img/icons/service-3.png" data-rjs="2" alt="">
                                  </div>
                                  <!-- Icon End  -->
          
                                  <!-- Content Begin -->
                                  <div class="content">
                                      <h4>{{k}}</h4>
                                      
                                      <a href="ds?qu={{k|urlencode}}" class="btn-inline">Read More</a>
                                  </div>
                                  <!-- Content End -->
                              </div>
                              <!-- Single Service End -->
                          </div>
                   
                          {% endfor %}
                        
                     
                        </div>
                    </form>
                </div>
                <!-- Contact Form End -->
            </div>
        </div>
    </div>
</section>
<!-- Contact Info End -->
    <!-- Contact Info End -->

  
    <script type="text/javascript">
        var subcategory = {
        DigitalPresence: ["Search Engine Marketing","Search Engine Optimization","Digital Consultancy","Brand Reputation Management","Business Consultancy"],
        Development: ["Web Development","Application Development","Software Development","Block Chain Development","UI/UX Development"],
        Branding: ["Branding Services"],
        Marketing: ["Mobile App Marketing","Mobile Game Marketing","Social Media Marketing","Conversion rate Marketing","Content Marketing","Email Marketing"],
        }

        function makeSubmenu(value) {
            if (value.length == 0) document.getElementById("categorySelect").innerHTML = "<option></option>";
            else {
                var citiesOptions = "";
                for (categoryId in subcategory[value]) {
                    citiesOptions += "<option>" + subcategory[value][categoryId] + "</option>";
                }
                document.getElementById("categorySelect").innerHTML = citiesOptions;
            }
        }

        function displaySelected() {
            var country = document.getElementById("category").value;
            var city = document.getElementById("categorySelect").value;
            alert(country + "\n" + city);
        }

        function resetSelection() {
            document.getElementById("category").selectedIndex = 0;
            document.getElementById("categorySelect").selectedIndex = 0;
        }
    </script>
             

{% endblock %}