{% extends "base.html" %}

{% block content %}
<style>
    .box select {
        background-color: #ffe6f2;
        color: #ff3399;
        padding: 12px;
        width: 250px;
        border: none;
        font-size: 20px;
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
        -webkit-appearance: button;
        appearance: button;
        outline: none;
      }
      
      .box::before {
        content: "\f13a";
        font-family: FontAwesome;
        position: absolute;
        top: 0;
        right: 0;
        width: 20%;
        height: 100%;
        text-align: center;
        font-size: 28px;
        line-height: 45px;
        color: rgba(255, 255, 255, 0.5);
        background-color: rgba(255, 255, 255, 0.1);
        pointer-events: none;
      }
      
      .box:hover::before {
        color: rgba(255, 255, 255, 0.6);
        background-color: rgba(255, 255, 255, 0.2);
      }
      
      .box select option {
        padding: 30px;
      }
      .b{
        border: 5px solid  #ff3399;
        padding-top: 25px;
        padding-right: 25px;
        padding-bottom: 25px;
        padding-left: 25px;
        
      }
</style>
<section class="page-title-bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-title text-center">
                    {% if user.is_authenticated %}
                    <h2>Frequently Asked Questions</h2><br>
                    {% else %}
                    <h2>Frequently Asked Questions</h2><br>
                   
                    <button onclick="openForm()"><h3>Ask a Question</h3></a> </button> 
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </div>
</section>
<div class="form-popup" id="myForm">
    <form action="accounts/login" class="form-container" method="POST">
        {% csrf_token %}
    
      <h1>Login</h1>
  
      
      <input type="text" placeholder="Username" name="username" required>
  

      <input type="password" placeholder="Enter Password" name="password" required>
  
      <button type="submit" class="btn">Login</button>   
      <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn" >Login using Google</a><br>
      <a href="{% url 'social:begin' 'facebook' %}" class="btn">Login using Facebook</a><br>
      <a href="accounts/register">New User? Register Here</a><br>

      <button type="button"  onclick="closeForm()">Close</button>
    
    </form>
   

    
  </div>
  
  <script>
  function openForm() {
    document.getElementById("myForm").style.display = "block";
  }
  
  function closeForm() {
    document.getElementById("myForm").style.display = "none";
  }
  </script>
<!-- Page Title End -->

<!-- Contact Info Begin -->
<section class="pt-80 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <!-- Contact Info Begin -->
                <div class="contact-info">
                    <div class="b">
                    <h3>Want to Know More? </h3>
                    <p>Select a Category to Read more Posts:</p>
                        

                    <div class="row">
                        <!-- Single Contact Info -->
                        <div class="col-sm-6 col-lg-12 single-contact-info media align-items-center">
                            
                                <!-- Sidebar Begin -->
                                <aside class="sidebar mt-5 mt-lg-0">
                                
                                <!-- Widget Tag Cloud Begin -->
                                <div class="widget widget_tag_cloud">
                                <div class="widget-title">
                                <h4>Tags</h4>
                                </div>
                                <div class="tagcloud">
                                {% for d in dests %}
                                <a href="tags?query_name={{d|urlencode}}">{{d}}</a>
                                {% endfor %}
                                </div>
                                </div>
                                <!-- Widget Tag Cloud End -->
                           
                                
                                </aside>
                                <!-- Sidebar End -->
                                
                          </div>    
                        </div>
                    </div>
                    <br>
                    <br>
                        <!-- End Single Contact Info -->
                        {% if user.is_authenticated %}
                        <div class="b">
                       
                        <form action="ask" method="POST" >
                        
                            {% csrf_token %}
                            
            
                            <h3> What can we help you with?</h3>
                            <div class="col-md-4">
                          
                            <textarea name="question" rows="5" cols="23" placeholder="Question" wrap="physical" required></textarea><br>
                            </div>
                            <br>
                        
                            <div class="box">
                                <select id="category" name="c" size="1" onchange="makeSubmenu(this.value)"  required>
                                    <option value="" disabled selected>Choose Category</option>
                                    {% for s in sent %}
                                    <option>{{s.cat}}</option>
                                    
                                    {% endfor %}
                                    </select><br>
                                
                                
                               <br>
                                
                                <select id="categorySelect" name="sc" size="1" required>
                                    <option value="" disabled selected>Choose Subcategory</option>
                                    <option></option>
                                    </select>
                                    <br>
                            
                                </div> 
                                <br>
                            
                               
                                <div class="col-md-4">
                                    <button type="submit" class="btn"><span>Submit</span></button>
                                </div>    
                         
                            
                        
                    </form>
                    </div>

              {% endif %}

                    </div>
                </div>
                <!-- Contact Info End -->
            

            <div class="col-lg-8">
                <!-- Contact Form Begin -->
                <div class="cform">
                    <div class="row">
                        {% for k in services %}
                          <div class="col-lg-4 col-sm-6">
                              <!-- Single Service Begin -->
                              <div class="single-service style--three text-center">
                                  <!-- Icon Begin -->
                                  <div class="icon">
                                      <img src="/static/img/icons/service-3.png" data-rjs="2" alt="">
                                  </div>
                                  <!-- Icon End  -->
          
                                  <!-- Content Begin -->
                                  <div class="content">
                                      <h4>{{k}}</h4>
                                      
                                      <a href="ds?qu={{k|urlencode}}" class="btn-inline">Read More</a>
                                  </div>
                                  <!-- Content End -->
                              </div>
                              <!-- Single Service End -->
                          </div>
                   
                          {% endfor %}
                        
                     
                        </div>
                    </form>
                </div>
                <!-- Contact Form End -->
            </div>
        </div>
    </div>
</section>
<!-- Contact Info End -->
    <!-- Contact Info End -->

  
    <script type="text/javascript">
    

        function makeSubmenu(value) {
          


window.location.replace("ask?qu="+encodeURIComponent(value));
            }
        

      
    </script>
             

{% endblock %}