{% extends "base2.html" %}

{% block content %}

<section class="page-title-bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>Login</h2>
                    <ul class="list-inline">
                        
                      
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page Title End -->


            

            <div class="col-lg-8">
                <!-- Contact Form Begin -->
                <div class="cform">
                   
                    <form action="login" method="POST" >
                        <div class="row">
                            {% csrf_token %}
                            <div class="col-md-4">
                               
<input type="text" name="username" placeholder="Username" required><br>

                            </div>
                            <div class="col-md-4">
                              <input type="password" name="password" placeholder="Password" required><br>
                            </div>
                           

                            <div class="col-12 mt-20">
                                <button type="submit" class="btn"><span>Submit</span></button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Contact Form End -->
            </div>
        </div>
    </div>
</section>
<!-- Contact Info End -->
    <!-- Contact Info End -->

    <section class="page-title-bg">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="page-title text-center">
                    {% for d in messages %}
                    <h3>{{d}}</h3>
                    {% endfor %}
                      <ul class="list-inline">
                          
                        
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </section>

{% endblock %}