{% extends "base.html" %}

{% block content %}
<style>
    .b{
        border: 5px solid  #ff3399;
        padding-top: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        
    }

.a {

    
    border: 3px solid  #ff3399;
    
    border-color: #ff3399;
    background-color:white;
    
  

}
</style>

<section class="page-title-bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>Frequently Asked Questions</h2><br>
                    
                        
                        
                     <h3>  {{dests}}</h3>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page Title End -->

<!-- Contact Info Begin -->
<section class="pt-80 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <!-- Contact Info Begin -->
                <div class="contact-info">
                    <div class ="b">
                    {% for m in camp %}
                    <h3>{{m.heading1}}</h3>
                    <p>{{m.heading2}}</p>
                     {% endfor %}
                    <div class="row">
                        <!-- Single Contact Info -->
                        <div class="col-sm-6 col-lg-12 single-contact-info media align-items-center">
                           
                            <form action="camp_qs" method="POST" >
                        
                                {% csrf_token %}
                                
                
                                
                                <div class="col-md-4">
                              
                                <div>
                                   
                                    <textarea name="question" rows="5" cols="25" placeholder="Question" class="a"  required></textarea><br>
                                </div>
                                <br>
                                <div>
                                    <input type="text" placeholder="Phone" name="phone" size="25" class="a" required>
                                    </div>
                                    
                                </div>
    
                                <br>
                                <div class="col-md-4">
                                    <button type="submit" class="btn"><span>Submit</span></button>
                                </div>  
                                </form> 
                             
                        </div>
                    
                          
                          </div>  
                            
                        </div>
                        <!-- End Single Contact Info -->



                    </div>
                
                <!-- Contact Info End -->
            </div>

            <div class="col-lg-8">
                <!-- Contact Form Begin -->
                <div class="cform">
                    {% for d in dests2 %}
                    {% if d.answer is not None  %}
                    <h2>{{d.question}}<h2>
                        <br>
                        <br>
            
                <!-- Section Title End -->

                <!-- About Feature List Begin -->
                <ul class="list-unstyled list-check">
                    <li><i class="fa fa-check" aria-hidden="true"></i> <p>{{d.answer|truncatechars:90}}</p></li>
                  
                </ul>
                <br>
                <a href="answer?qu={{d.question|urlencode}}" class="banner-btn btn"><span>Read More</span></a>
                <!-- About Feature List End -->
                <hr>
                <br>
                {% endif %}
                {% endfor %}
                   
                        </div>
                    </form>
                </div>
                <!-- Contact Form End -->
            </div>
        </div>
    </div>
</section>
<!-- Contact Info End -->
    <!-- Contact Info End -->

  


{% endblock %}